* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #d7d2cb;
}
/* ==Sidebar== */
.sidebar header {
  position: relative;
}

.sidebar .text {
  font-size: 20px;
  font-weight: 500;
  color: #f3f8ff;
  transition: all 0.2s ease;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar .image {
  min-width: 50px;
  display: flex;
  align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 14px;
  height: 100%;
  width: 90px;
  background: #1c1616;
  transition: all 0.2s ease;
  z-index: 100;
}

.sidebar li {
  height: 0;
  margin-top: 50px;
  list-style: none;
  display: flex;
  text-align: center;
}

.sidebar li .icon {
  font-size: 25px;
  min-width: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.sidebar li .icon,
.sidebar li .text {
  color: #f3f8ff;
  font-weight: 400;
}

.sidebar .image-text img {
  width: 40px;
  border-radius: 50%;
  min-width: 50px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.header .image-text .text-header {
  display: flex;
  flex-direction: column;
}

.text-header .name {
  font-size: 23px;
  font-weight: 900;
  margin-left: 5px;
}

.text-header .section {
  font-size: 15px;
  margin-left: 5px;
}

.sidebar li a {
  text-decoration: none;
  height: 100%;
  display: flex;
  text-align: center;
  transition: all 0.3s ease;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: #f6bf19;
}

/* home */
section {
  padding: 2rem 9%;
}
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: right;
  min-height: 100vh;
  background: url(img/home2.jpg) no-repeat;
  background-size: cover;
  transition: all 0.2s ease;
  display: flex;
  text-align: right;
}

.home .content {
  max-width: 60rem;
}

.home .content h1 {
  font-size: 75px;
  line-height: 6rem;
  color: whitesmoke;
  margin-left: 30px;
}

.home .content p {
  font-size: 20px;
  line-height: 2rem;
  color: whitesmoke;
  margin-left: 30px;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 2rem;
  background: #231818;
  color: #f3f8ff;
  padding: 1rem 0.7rem;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  margin-left: 30px;
}

.btn:hover {
  background: #f6bf19;
}

/* Dataset */
.text-container {
  margin-top: 50px;
  margin-left: -80px;
  position: relative;
  height: 100vh;
  left: 350px;
  width: calc(100% - 350px);
  align-items: center;
  justify-content: left;
  min-height: 100vh;
  transition: all 0.2s ease;
  text-align: left;
}

.text-container h1 {
  font-size: 40px;
  color: #2c1a1a;
  margin-top: -20px;
  margin-bottom: 40px;
  padding: 5px 3px;
}

.text-container p:nth-child(2) {
  font-size: 18px;
  color: #2c1a1a;
  font-weight: bold;
  padding: 1rem;
}

.text-container p:nth-child(3) {
  margin-left: 20px;
  margin-right: 150px;
  color: #2c1a1a;
}
.button {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 2rem;
  background: #231818;
  color: #f3f8ff;
  padding: 1rem 0.7rem;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
}

/*Dashboard section*/
.dashboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1.5rem;
  margin-top: 1rem;
  position: relative;
  top: 5px;
  justify-content: center;
}
.dashboard-container .box {
  padding: 25px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  text-align: center;
  background: whitesmoke;
  margin-left: 50px;
}
.dashboard .heading h2 {
  position: relative;
  margin-top: 5px;
  font-size: 2.5rem;
  text-align: left;
  text-transform: uppercase;
}

.dahsboard-container .box p {
  font-size: 0.938rem;
}
.dashboard-container .box h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem;
}

.dashboard-container .box:hover {
  background: #d7c4aa;
  transition: 0.2s all linear;
}

/*Dataset*/
.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  gap: 1.5rem;
  margin-top: 50px;
}
.about-img img {
  border-radius: 0.5rem;
  width: 500px;
  height: 300px;
}
.about-text h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.about-text p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1.1rem;
  text-align: justify;
}

/*Footer*/
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  gap: 1.5rem;
  background-color: #d7c4aa;
  width: 100%;
  height: 170px;
}
.footer-box h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.footer-box p {
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  justify-content: center;
}
.social a .bx {
  font-size: 24px;
  color: whitesmoke;
  padding: 10px;
  background: #1c1616;
  border-radius: 0.2rem;
}
.social a .bx:hover {
  background: #f6bf19;
  color: whitesmoke;
}
.copyright {
  padding: 20px;
  text-align: center;
  color: whitesmoke;
  background: #1c1616;
}

/*Media Queries*/

/* Dashboard */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.header {
  background-color: #1c1616;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-bottom: 5px solid #ffd743;
}

.user-interaction {
  display: inline-block;
  width: 100%;
  height: 100px;
}

.filter {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 35px;
}

.filter-neighborhood {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.from-date {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.to-date {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.filter-date label,
.filter-date input[type="date"],
.filter-date button {
  margin-right: 10px;
}

.button {
  display: flex;
  flex-direction: column;
}

#NEIGHBORHOOD {
  border-radius: 10px;
}

#start-date {
  border-radius: 10px;
}

#end-date {
  border-radius: 10px;
}

#label-btn {
  display: none;
}

button {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  width: 80px;
  margin-top: 25px;
}

button:hover {
  background-color: #555;
}

.chart-area {
  padding-left: 3%;
  max-width: 100%;
  margin-bottom: 5%;
}
.chart {
  display: inline-grid;
  grid-template-columns: auto auto;
  margin-top: 20px;
  margin-left: 20px;
  max-width: 100%;
  row-gap: 20px;
  column-gap: 30px;
}

.chart-1 {
  width: 600px;
  height: 300px;
  background-color: #ccc;
  border: 2px solid #000;
}

.chart-2 {
  width: 400px;
  height: 300px;
  background-color: #ccc;
  border: 2px solid #000;
  row-gap: 20px;
}

.chart-3 {
  width: 600px;
  height: 300px;
  background-color: #ccc;
  border: 2px solid #000;
  row-gap: 20px;
}

.chart-4 {
  width: 400px;
  height: 300px;
  background-color: #ccc;
  border: 2px solid #000;
  row-gap: 20px;
}

.chart-5 {
  width: 600px;
  height: 300px;
  background-color: #ccc;
  border: 2px solid #000;
  row-gap: 20px;
}

.chart-6 {
  width: 400px;
  height: 300px;
  background-color: #ccc;
  border: 2px solid #000;
  row-gap: 20px;
}

.chart-mini {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  margin-top: 20px;
  margin-left: 20px;
  max-width: 100%;
  row-gap: 20px;
  column-gap: 40px;
  padding-left: 10px;
}

.chart-mini-1 {
  width: 170px;
  height: 150px;
  background-color: #ccc;
  border: 2px solid #000;
}

.chart-mini-2 {
  width: 170px;
  height: 150px;
  background-color: #ccc;
  border: 2px solid #000;
}

.chart-mini-3 {
  width: 170px;
  height: 150px;
  background-color: #ccc;
  border: 2px solid #000;
}

.chart-mini-4 {
  width: 170px;
  height: 150px;
  background-color: #ccc;
  border: 2px solid #000;
}

.chart-mini-5 {
  width: 170px;
  height: 150px;
  background-color: #ccc;
  border: 2px solid #000;
}

.main {
  position: absolute;
  height: 100vh;
  left: 90px;
  width: calc(100% - 90px);
  align-items: center;
  justify-content: left;
  min-height: 100vh;
  transition: all 0.3s ease;
  text-align: left;
  display: inline-flexbox;
}

.sidebar.close ~ .main {
  left: 85px;
  width: calc(100% - 85px);
}

/*footer*/
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  gap: 1.5rem;
  background-color: #d7c4aa;
  width: 100%;
  height: 170px;
}
.footer-box h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.footer-box p {
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  justify-content: center;
}
.social a .bx {
  font-size: 24px;
  color: whitesmoke;
  padding: 10px;
  background: #1c1616;
  border-radius: 0.2rem;
}
.social a .bx:hover {
  background: #f6bf19;
  color: whitesmoke;
}
.copyright {
  padding: 20px;
  text-align: center;
  color: whitesmoke;
  background: #1c1616;
}

/*media screen untuk ukuran mobile*/
@media (min-width: 320px) and (max-width: 720px) {
  .sidebar .image {
    min-width: 10px;
    display: flex;
    align-items: center;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 7px;
    height: 100%;
    width: 45px;
    background: #1c1616;
    transition: all 0.2s ease;
    z-index: 100;
  }

  .sidebar li {
    height: 0;
    margin-top: 50px;
    list-style: none;
    display: flex;
    text-align: center;
  }
  .sidebar .image-text img {
    width: 20px;
    border-radius: 50%;
    min-width: 35px;
  }

  .sidebar li .icon {
    font-size: 20px;
    min-width: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .main {
    left: 45px;
    width: calc(100% - 45px);
  }
  .header {
    width: 100%;
    font-size: 40%;
  }
  .main-content {
    height: 20%;
  }
  form {
    width: 100%;
  }
  .filter {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    column-gap: 10%;
    row-gap: 10%;
    font-size: 80%;
    align-items: start;
  }
  .filter-neighborhood {
    width: 50%;
  }
  .from-date {
    width: 50%;
  }
  .to-date {
    width: 50%;
    margin-top: 5px;
  }
  #start-date,
  #end-date {
    height: 23px;
  }
  .button {
    padding-top: 13%;
  }
  #stickyButton {
    margin-top: 0px;
    margin-left: 0px;
    width: 83px;
    height: 23px;
  }

  .chart-area {
    padding-left: 0;
  }
  .chart-mini {
    display: none;
  }
  .chart {
    display: flex;
    flex-direction: column;
  }
  .chart-1,
  .chart-2,
  .chart-3,
  .chart-4,
  .chart-5,
  .chart-6 {
    width: 95%;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    background-color: #d7c4aa;
    width: 100%;
    height: 100px;
  }
  .footer-box h2 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
  }

  .footer-box p {
    font-size: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .social a .bx {
    font-size: 15px;
    color: whitesmoke;
    padding: 5px;
    background: #1c1616;
    border-radius: 0.2rem;
  }
  .copyright {
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    background: #1c1616;
    font-size: 10px;
  }
}

/*media screen untuk ukuran tablet*/
@media (min-width: 768px) and (max-width: 1025px) {
  .header {
    width: 100%;
    font-size: 80%;
  }
  .main-content {
    height: 10%;
  }
  form {
    width: 100%;
  }
  .filter {
    width: 90%;
    /*display: inline-grid;
    grid-template-columns: 50% 50%;
    column-gap: 10%;
    row-gap: 10%;*/
    display: flex;
    font-size: 80%;
    align-items: start;
  }
  #label-NEIGHBORHOOD,
  #date {
  }
  .filter-neighborhood {
    width: 50%;
  }
  .from-date {
    width: 50%;
  }
  .to-date {
    width: 50%;
  }
  #start-date,
  #end-date {
    height: 23px;
  }
  .button {
    padding-top: 17px;
  }

  #stickyButton {
    margin-top: 0;
    margin-left: 0px;
    width: 83px;
    height: 23px;
  }

  .chart-area {
    padding-left: 0;
    width: 100%;
  }
  .chart-mini {
    display: none;
  }
  /*.chart {
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto;
    margin-left: 0;
    padding-left: 20px;
  }
  .chart-1, .chart-3, .chart-5 {
    width:400px;
  }
  .chart-2, .chart-4, .chart-6 {
    width:300px;
  }*/
  .chart-area {
    padding-left: 0;
  }
  .chart-mini {
    display: none;
  }
  .chart {
    display: flex;
    flex-direction: column;
  }
  .chart-1,
  .chart-2,
  .chart-3,
  .chart-4,
  .chart-5,
  .chart-6 {
    width: 95%;
  }
}

@media (max-width: 980px) {
  .text-container {
    height: 100%;
  }
  .text-container h1 {
    font-size: 24px;
    margin-block: 10px;
  }

  .text-container p:nth-child(2) {
    padding: 0;
    font-weight: 500;
  }

  .accordion-wrapper {
    margin-top: 16px;
    width: 300px;
  }

  .accordion-details {
    width: 100%;
  }

  .accordion {
    flex-direction: column;
  }

  .summary {
    font-size: 18px;
    word-wrap: break-word;
    width: fit-content;
    word-break: keep-all;
  }
  .accordion-section {
    width: 300px;
  }
}

/* style untuk accordion */
.accordion-wrapper {
  padding-left: 20px;
  height: fit-content;
  width: 100%;
  overflow-y: scroll;
}

.accordion {
  height: 100%;
  max-width: 500px;
  display: flex;
  align-items: start;
  gap: 36px;
}

.accordion-section {
  width: 500px;
}

details {
  margin-bottom: 10px;
}

summary {
  width: 500px;
  font-size: 24px;
  font-weight: 500;
}

.accordion-details {
  font-size: 18px;
  font-weight: 400;
}

details > span::after {
  display: block;
  margin-top: 12px;
  content: "";
  background-color: gray;
  width: 500px;
  height: 2px;
}

a {
  color: white;
  text-decoration: none;
}

.akses-dataset {
  width: 180px;
  border: 0;
  padding: 1rem 1.5rem;
  text-align: center;
  border-radius: 10px;
  background-color: #211515;
  margin-top: 24px;
}
