* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #d7d2cb;
}
/* ==Sidebar== */
.sidebar header {
  position: relative;
}

.sidebar .text {
  font-size: 20px;
  font-weight: 500;
  color: #f3f8ff;
  transition: all 0.2s ease;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar .image {
  min-width: 50px;
  display: flex;
  align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 14px;
  height: 100%;
  width: 250px;
  background: #2c1a1a;
  transition: all 0.2s ease;
  z-index: 100;
}

.sidebar.close {
  width: 85px;
}

.sidebar li {
  height: 0;
  margin-top: 50px;
  list-style: none;
  display: flex;
  text-align: center;
}

.sidebar li .icon {
  font-size: 25px;
  min-width: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.sidebar li .icon,
.sidebar li .text {
  color: #f3f8ff;
  font-weight: 400;
}

.sidebar .image-text img {
  width: 40px;
  border-radius: 50%;
  min-width: 50px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.header .image-text .text-header {
  display: flex;
  flex-direction: column;
}

.text-header .name {
  font-size: 23px;
  font-weight: 900;
  margin-left: 5px;
}

.text-header .section {
  font-size: 15px;
  margin-left: 5px;
}

.sidebar header .toggle {
  position: absolute;
  top: 20%;
  right: -43px;
  transform: translateX(-50%);
  height: 30px;
  width: 30px;
  background-color: #f6bf19;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.sidebar li a {
  text-decoration: none;
  height: 100%;
  display: flex;
  text-align: center;
  transition: all 0.3s ease;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: #f6bf19;
}

/* home */
section {
  padding: 2rem 9%;
}
.home {
  position: relative;
  height: 100vh;
  left: 250px;
  width: calc(100% - 250px);
  align-items: center;
  justify-content: left;
  min-height: 100vh;
  background: url(img/home3.jpg) no-repeat;
  background-size: cover;
  transition: all 0.2s ease;
  display: flex;
  text-align: left;
}

.sidebar.close ~ .home {
  left: 85px;
  width: calc(100% - 85px);
}

.home .content {
  max-width: 40rem;
}

.home .content h1 {
  font-size: 75px;
  line-height: 6rem;
  color: white;
  margin-left: -30px;
}

.home .content p {
  font-size: 20px;
  line-height: 2rem;
  color: white;
  margin-left: -30px;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 2rem;
  background: #211515;
  color: #f3f8ff;
  padding: 1rem 0.7rem;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  margin-left: -30px;
}

.btn:hover {
  background: #f6bf19;
}

/* Dataset */
.text-container {
  margin-top: 50px;
  margin-left: -80px;
  position: relative;
  height: 100vh;
  left: 350px;
  width: calc(100% - 350px);
  align-items: center;
  justify-content: left;
  min-height: 100vh;
  transition: all 0.2s ease;
  text-align: left;
}

.sidebar.close ~ .text-container {
  left: 210px;
  width: calc(100% - 210px);
}

.text-container h1 {
  font-size: 40px;
  color: #2c1a1a;
  margin-top: -20px;
  margin-bottom: 40px;
  padding: 5px 3px;
}

.text-container p:nth-child(2) {
  font-size: 18px;
  color: #2c1a1a;
  font-weight: bold;
  padding: 1rem;
}

.text-container p:nth-child(3) {
  margin-left: 20px;
  margin-right: 150px;
  color: #2c1a1a;
}
button {
  width: 500px;
  height: 50px;
  color: white;
  font-size: 17px;
  border: 0;
  background: #2c1a1a;
  border-radius: 25px 25px;
  margin-top: 20px;
  margin-left: 20px;
}

/* Dashboard */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.header {
  background-color: #2c1a1a;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-bottom: 5px solid #ffd743;
}

.user-interaction {
  display:inline-block;
  width:100%;
  height: 100px;
}

.filter {
  display: flex;
  align-items: center; 
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 35px;
}

.filter-neighborhood {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.from-date {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.to-date {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.filter-date label,
.filter-date input[type="date"],
.filter-date button {
  margin-right: 10px;
}

.button {
  display: flex;
  flex-direction: column;
}

#NEIGHBORHOOD {
  border-radius: 10px;
}

#start-date {
  border-radius: 10px;
}

#end-date {
  border-radius: 10px;
}

#label-btn {
  display: none;

}

button {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  width: 80px;
  margin-top: 25px;
}

button:hover {
  background-color: #555;
}

.chart-area {
  padding-left: 3%;
  max-width: 100%;
}
.chart {
  display:inline-grid;
  grid-template-columns: auto auto;
  margin-top: 20px;
  margin-left: 20px;
  max-width: 100%;
  row-gap: 20px;
  column-gap: 30px;
}

.chart-1 {
  width: 600px;
  height: 300px;
  background-color: #ccc; 
  border: 2px solid #000;
}

.chart-2 {
  width: 400px;
  height: 300px;
  background-color: #ccc; 
  border: 2px solid #000;
  row-gap: 20px;
}

.chart-3 {
  width: 600px;
  height: 300px;
  background-color: #ccc; 
  border: 2px solid #000;
  row-gap: 20px;
}

.chart-4 {
  width: 400px;
  height: 300px;
  background-color: #ccc; 
  border: 2px solid #000;
  row-gap: 20px;
}

.chart-5 {
  width: 600px;
  height: 300px;
  background-color: #ccc; 
  border: 2px solid #000;
  row-gap: 20px;
}

.chart-6 {
  width: 400px;
  height: 300px;
  background-color: #ccc; 
  border: 2px solid #000;
  row-gap: 20px;
}

.chart-mini {
  display:inline-grid;
  grid-template-columns: auto auto auto auto auto;
  margin-top: 20px;
  margin-left: 20px;
  max-width: 100%;
  row-gap: 20px;
  column-gap: 40px;
  padding-left: 10px;
}

.chart-mini-1 {
  width: 170px;
  height: 150px;
  background-color: #ccc; 
  border: 2px solid #000;
}

.chart-mini-2 {
  width: 170px;
  height: 150px;
  background-color: #ccc; 
  border: 2px solid #000;
}

.chart-mini-3 {
  width: 170px;
  height: 150px;
  background-color: #ccc; 
  border: 2px solid #000;
}

.chart-mini-4 {
  width: 170px;
  height: 150px;
  background-color: #ccc; 
  border: 2px solid #000;
}

.chart-mini-5 {
  width: 170px;
  height: 150px;
  background-color: #ccc; 
  border: 2px solid #000;
}

.main {
  position:absolute;
  height: 100vh;
  left:250px;
  width: calc(100% - 250px);
  align-items: center;
  justify-content: left;
  min-height: 100vh;
  transition: all 0.3s ease;
  text-align: left;
  display: inline-flexbox;
}

.sidebar.close ~ .main {
  left: 85px;
  width: calc(100% - 85px);
}

.footer {
  background-color: #2c1a1a;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
  border-top: 5px solid #ffd743;
}

.footer .links {
  margin-bottom: 3rem;
}

.footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

.footer .credit {
  font-size: 0.8rem;
  color: #fff;
}

.footer .credit a {
  color: #fff;
  font-weight: 700;
}

/*media screen untuk ukuran mobile*/
@media (min-width:320px) and (max-width: 720px) {
  .header {
    width: 100%;
    font-size: 40%;
  }
  .main-content {
    height:20%;
  }
  form {
    width:100%;
  }
  .filter {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    column-gap: 10%;
    row-gap: 10%;
    font-size: 80%;
    align-items: start;
  }
  .filter-neighborhood {
    width:50%;
  }
  .from-date {
    width:50%;
  }
  .to-date {
    width:50%;
    margin-top:5px;
  }
  #start-date, #end-date{
    height:23px;
  }
  .button{
    padding-top:13%;
  }
  #stickyButton {
    margin-top: 0px;
    margin-left: 0px;
    width:83px;
    height:23px;
  }

  .chart-area {
    padding-left: 0;
  }
  .chart-mini {
    display:none;
  }
  .chart {
    display: flex;
    flex-direction: column;
  }
  .chart-1, .chart-2, .chart-3, .chart-4, .chart-5, .chart-6 {
    width:95%;
  }
}

/*media screen untuk ukuran tablet*/
@media (min-width:768px) and (max-width: 1025px) {
  .header {
    width: 100%;
    font-size: 80%;
  }
  .main-content {
    height:10%;
  }
  form {
    width:100%;
  }
  .filter {
    width: 90%;
    /*display: inline-grid;
    grid-template-columns: 50% 50%;
    column-gap: 10%;
    row-gap: 10%;*/
    display: flex;
    font-size: 80%;
    align-items: start;
  }
 #label-NEIGHBORHOOD, #date{
 }
  .filter-neighborhood {
    width:50%;
  }
  .from-date {
    width:50%;
  }
  .to-date {
    width:50%;
  }
  #start-date, #end-date{
    height:23px;
  }
  .button {
    padding-top: 17px;
  }

  #stickyButton {
    margin-top: 0;
    margin-left: 0px;
    width:83px;
    height:23px;
  }

  .chart-area {
    padding-left: 0;
    width:100%;
  }
  .chart-mini {
    display:none;
  }
  /*.chart {
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto;
    margin-left: 0;
    padding-left: 20px;
  }
  .chart-1, .chart-3, .chart-5 {
    width:400px;
  }
  .chart-2, .chart-4, .chart-6 {
    width:300px;
  }*/
  .chart-area {
    padding-left: 0;
  }
  .chart-mini {
    display:none;
  }
  .chart {
    display: flex;
    flex-direction: column;
  }
  .chart-1, .chart-2, .chart-3, .chart-4, .chart-5, .chart-6 {
    width:95%;
  }
}